/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Updated background color to black */
    color: #ccc; /* Updated text color to light grey */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #ccc; /* Updated text color to light grey */
}

/* Form styles */
#formContainer {
    background-color: #666; /* Updated form container background color to dark grey */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ccc; /* Updated label text color to light grey */
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #444; /* Updated input background color to dark grey */
    color: #ccc; /* Updated input text color to light grey */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
